.declaration_module{
    margin-top: 40px;
    border-top: 1px solid #EEEEEE;
    float: left;
    width: 100%;
    height: 100px;
    background-color: #FAFAFA;
    text-align: center;
}

.beian_entry,
.recommend_entry{
    width: 100%;
    height: 30px;
    text-align: center;
}

.beian_entry{
    margin-top: 20px;
}

.beian_entry a,
.beian_entry .copyright,
.recommend_entry label,
.recommend_entry span a{
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    font-family: Arial;
    color: #888888;
    line-height: 30px;
}

.beian_entry a:hover,
.recommend_entry span a:hover{
    color: #555555;
    text-decoration: underline;
}
