<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>全部试卷</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles/css/nav.css" />
	<style>
		.exams-body {
			max-width: 1000px;
			margin: 0 auto;
		}

		.exams-header {
			margin-top: 40px;
			background-color: #F7F5F7;
			/*background-color: #28a745!important;*/
			/*border: 1px solid #e6ebf5;*/
			border: 2px solid #28a745!important;
			height: 70px;
			width: 100%;
			line-height: 70px;
			letter-spacing: 20px;
			/*color: white;*/
			font-family: "微软雅黑";
			font-weight:bold;
			color: #28a745!important;
		}

		.exams-turn {
			height: 50px;
			width: 100%;
			line-height: 50px;
		}

		.exams-turn .intr {
			float: left;
			color: #888888;
		}

		.exams-turn .turn {
			float: right;
		}

		.table-responsive{
			border: 2px solid #28a745!important;
		}

		.exams-info .table thead th{
			border-top: 0;
			background-color: #28a745!important;
			color: white;
		}

		.exams-footer {
			margin: 30px 0;
		}

		.exams-footer .line {
			display: inline-block;
			width: 200px;
			border-top: 1px solid #ccc;
		}

		.exams-footer .txt {
			color: #686868;
			vertical-align: middle;
			font-size: 20px;
		}
	</style>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
<!--导航条-->
<div class="selfnav">
	<!--左侧logo及站名-->
	<div class="navleft">
		<img src="/images/logo.png" />
	</div>

	<!--右侧功能导航与个人中心-->
	<div class="navright">
		<!--右侧功能-->
		<ul class="nav-topic">
			<li id="item">
				<a id="nav-index" href="/stu/index">首页</a>
			</li>
			<li id="item">
				<a id="nav-exams" class="nav-active" href="/exam/">我要考试</a>
			</li>
			<li id="item">
				<a id="nav-exercise" href="/topic/">我要做题</a>
			</li>
			<li id="item">
				<a id="nav-scoreboard" href="/rank/">积分榜</a>
			</li>
			<li id="item">
				<a id="nav-games" href="/game/">玩游戏</a>
			</li>
			<li id="item">
				<!--我的和注销-->
				<span class="self">
								你好！
								<a href="#">$!{user.username}</a>
								<ul class="infomodels">
									<li>
						<a href="/self/">个人中心</a>
					</li>
					<li>
						<a href="/modify/">修改密码</a>
					</li>
					<li>
						<a href="/logout/">退出</a>
					</li>
				</ul>
				</span>
			</li>
		</ul>
	</div>
</div>

<!--主页内容-->
<div class="page-body" ng-app="exams" ng-controller="exams">
	<div class="stu-exams">
		<div class="exams-body">
			<!--教师出题头模块-->
			<div class="exams-header">
				<p>
					<h2>全部试卷</h2>
				</p>
			</div>

			<!--转系统自动出题-->
			<div class="exams-turn">
				<span class="intr">
					下面是老师出的试卷哦  ↓↓↓
				</span>
				<span class="turn">
					不想做老师出的题？
					<a href="/topic/">试试自由测验吧！→</a>
				</span>
			</div>

			<!--教师出题信息模块-->
			<div class="exams-info">
				<div class="table-responsive">
					<!--<table class="table table-hover">-->
					<table class="table table-striped">
						<thead>
						<tr>
							<th>试题编号</th>
							<th>出卷时间</th>
							<th>出卷教师</th>
							<th>题目数量</th>
							<th>限制时间</th>
							<th>试卷总分</th>
							<th>执行操作</th>
						</tr>
						</thead>
						<tbody>
							<tr ng-if="topics.length == 0">
								<td></td>
								<td></td>
								<td></td>
								<td>暂无试卷</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr ng-if="topics.length != 0" ng-repeat="topic in topics">
								<td>{{topic.testpaperId}}</td>
								<td>{{topic.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
								<td>{{topic.teacherName}}</td>
								<td>{{topic.account}}道</td>
								<td>{{topic.account * 2}}分钟</td>
								<td>{{topic.account * 2}}分</td>
								<td>
									<a ng-click="doexam(topic.testpaperId,topic.account)" href="javascript:void(0);">开始考试</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!--底部提示-->
			<div class="exams-footer">
				<span class="line"></span>
				<span class="txt">小朋友，没有其他试卷了哦，要不试试<a href="/topic/">自由测验</a>吧→</span>
				<span class="line"></span>
			</div>
		</div>
	</div>
</div>

<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.loli.net/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="/scripts/nav.js"></script>
<script>
    angular.module('exams', []).controller('exams', function($scope, $http) {

        /**
         * 获取所有的试卷并打印出来
         */
        $http({
            method: 'POST',
            url: '/showexam/'
        }).then(function successCallback(response) {
			$scope.topics = response.data.testPaperList;
        }, function errorCallback(response) {
            // 请求失败执行代码
			console.log(response);
            alert("请求全部试卷失败！");
        });

        /**
         * 根据获取到的试卷id值找到相应的试卷
         *
         * @param {Object} id
         */
        $scope.doexam = function(id ,time) {
//					alert(id);
            window.location.href="/examine?testPaperId="+id +"&limitTime=" +time*2;
        }

    });
</script>
</body>

</html>