<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>自由训练</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/styles/css/nav.css" />
	<link rel="stylesheet" href="/styles/css/problems.css" />
	<style>
		.exercise-body {
			max-width: 800px;
			height: 100%;
			margin: 20px auto 0;
			text-align: left;
		}

		.exercise-footer{
			text-align: center;
		}

		.exercise-footer button {
			margin: 20px 10px;
			font-size: 24px;
		}
	</style>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
        $(function() {
            maketopic();
        });
	</script>
</head>

<body>
!--导航条-->
<div class="selfnav">
	<!--左侧logo及站名-->
	<div class="navleft">
		<img src="/images/logo.png" />
	</div>

	<!--右侧功能导航与个人中心-->
	<div class="navright">
		<!--右侧功能-->
		<ul class="nav-topic">
			<li id="item">
				<a id="nav-index" href="/stu/index">首页</a>
			</li>
			<li id="item">
				<a id="nav-exams" href="/exam/">我要考试</a>
			</li>
			<li id="item">
				<a id="nav-exercise" class="nav-active" href="/topic/">我要做题</a>
			</li>
			<li id="item">
				<a id="nav-scoreboard" href="/rank/">积分榜</a>
			</li>
			<li id="item">
				<a id="nav-games" href="/game/">玩游戏</a>
			</li>
			<li id="item">
				<!--我的和注销-->
				<span class="self">
								你好！
								<a href="#">$!{user.username}</a>
								<ul class="infomodels">
									<li>
						<a href="/self/">个人中心</a>
					</li>
					<li>
						<a href="/modify/">修改密码</a>
					</li>
					<li>
						<a href="/logout/">退出</a>
					</li>
				</ul>
				</span>
			</li>
		</ul>
	</div>
</div>

<!--主页内容-->
<div class="page-body" ng-app="showtopic" ng-controller="showtopic">
	<div class="stu-exercise">
		<div class="exercise-body">

			<!--填空题-填结果-->
			<div class="card" ng-repeat="topic in topics">
				<div class="card-body">
					<!--题目、答案-->
					<p class="fill-question">
						<!--题号-->
						<span style="color: #ffc107!important;">{{topic.id}}.</span>
						<!--题目内容-->
						<span>
							<span id="question-topic">{{topic.topic}}</span>=<input name="inputanswer" type="number" ng-model="inputanswer" />.
						</span> （{{topic.score}}分）
					</p>
					<!--答案解析-->
					<p class="analysis" style="display: none;">
						<!--<p class="analysis">-->
						<span>第{{topic.id}}题您填的答案是：{{inputanswer}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
						<span class="text-danger" ng-if="inputanswer != topic.answer" id="question-judge">错误！</span>
						<span class="text-success" ng-if="inputanswer == topic.answer" id="question-judge">正确！</span>
						<span><strong>正确答案：<span class="text-success">{{topic.answer}}</span></strong></span>
					</p>
				</div>
			</div>

			<!--底部按钮-->
			<div class="exercise-footer">
				<button id="sub" type="button" class="btn btn-danger">提交</button>
				<button id="replace" type="button" class="btn btn-primary">换题</button>
			</div>

		</div>
	</div>
</div>

<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.loli.net/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
<script type="text/javascript" src="/scripts/nav.js"></script>
<script src="/scripts/paper.js"></script>
<script>
    var topicArray = []; //保存题目的数组

    /**
     * 提交
     */
    $("#sub").click(function() {

        //定义一个存储错题的数组
        var question_error = new Array();
        var ee = 0;

        //获取用户的输入并判断正误
        var answers = $("input[name=inputanswer]");

        for(var i = 0; i < answers.length; i++) {
            if (answers[i].value == "" || answers[i].value == null){
                alert("请将题目全部完成后再提交！");
                return ;
            }
        }

        console.log(answers);

        //将所有输入框改为禁止输入
        $("input[type=number]").attr("readonly", "readonly");

        for(var i = 0; i < answers.length; i++) {
            if(answers[i].value != eval(topicArray[i])) { //如果答案错误
                question_error[ee] = topicArray[i];
                ee++;
            }
        }
        console.log(question_error);

        var j, jsonstr;
        jsonstr = "[";
        for(j = 0; j < question_error.length; j++) {
            jsonstr += "{topic:" + "\"" + question_error[j] + "\",,";
            jsonstr = jsonstr.substring(0, jsonstr.lastIndexOf(','));
            jsonstr += "},";
        }
        jsonstr += "]";
        var t = eval(jsonstr);
        var json_error = JSON.stringify(t);
        console.log("json_error:"+json_error);

        //展示解析
        $(".analysis").css("display", "inline");

        $("#sub").css("display","none");
        $("#grade").css("display","inline");

        if (0 == t.length){
            alert("太棒了！全对哦！");
		} else {
            //向后台发送错题数据
            $.ajax({
                type: "post",
                url: "/commit/",
                dataType: "json",
                async: true, //异步
                data: {
                    topic:json_error
                },
                success: function(data) {
                    alert("此次的错题数为" + ee + "个，已存入错题集");
                },
                error: function() {
                    alert("失败！");
                }
            });
		}
    });

    /**
     * 换题(通过重新加载页面换题)
     */
    $("#replace").click(function() {
        window.location.reload();
    });

    /**
     * 自动出题
     */
    function maketopic() {

        //选中加法
        var add = true;

        //选中减法
        var sub = true;

        //选中乘法
        var mul = false;

        //选中除法
        var div = false;

        //获取三种题型的题目数量
        var q2 = 3;
        var q3 = 2;
        var q4 = 0;
        var qty = q2 + q3 + q4;

        //数值范围
        var range = 20;

        //各种题目类型的百分比
        var qb = 0;
        var qi = 0;
        var qs = 0;

        //进位
        var car = false;

        //退位
        var dec = false;

        //将所有的值统一装进一个对象中
        CONFIG = {
            range: range,
            add: add,
            sub: sub,
            mul: mul,
            div: div,
            q2: q2,
            q3: q3,
            q4: q4,
            qb: qb,
            qi: qi,
            qs: qs,
            car: car,
            dec: dec
        };

        // 如果有乘除法，我们预先取出数值范围内的非素数，方便后续的高效选择
        if(CONFIG.mul || CONFIG.div) {
            NON_PRIMES = [];
            for(var i = 4; i <= CONFIG.range; i++) {
                for(var j = 2; j < i; j++) {
                    if((i % j) == 0) {
                        NON_PRIMES.push(i);
                        break;
                    }
                }
            }
        }

        //创建10个空数组，随机打乱次序
        var ra = [];
        for(var i = 0; i < 5; i++) {
            ra[i] = [];
        }

        //出两个数计算的题目
        generate2(ra);
        //出三个数计算的题目
        generate3(ra);

        var kk = 0;

        //将获取到的ra二维数组中的题目转移到自己设定的一维数组sub中保存
        for(var ii = 0; ii < ra.length; ii++) {
            var arr = ra[ii];
            for(var jj = 0; jj < arr.length; jj++) {
                topicArray[kk] = arr[jj];
                kk++;
            }
        }

        //对sub数组中的题目进行包装
        var j, jsonstr;
        jsonstr = "[";
        for(j = 0; j < topicArray.length; j++) {
            jsonstr += "{id:" + eval("j+1") + "," + "topic:" + "\"" + topicArray[j] + "\"," + "score:" + "" + 0 + "," + "answer:" + "" + eval(topicArray[j]) + ",";
            jsonstr = jsonstr.substring(0, jsonstr.lastIndexOf(','));
            jsonstr += "},";
        }
        jsonstr += "]";
        var t = eval(jsonstr);

        //包装好的包含题目信息的Object显示到页面中
        var app = angular.module('showtopic', []);
        app.controller('showtopic', function($scope) {
            $scope.topics = t;
        });
    }
</script>
</body>

</html>